body {
    color: #444444;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
}

#main-header {
    border-bottom: 3px solid lightgray;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}
  
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu li a:hover {
    background-color: #111;
}

.logo {
    float: left;
}

#content {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
}